@model List<ElevenNote.Models.Note.NoteListItem>
@{
    ViewData["Title"] = "Note Index";
}

<header class="d-flex flex-wrap justify-content-between align-items-baseline mb-2">
    <h1 class="display-4">Your Notes</h1>
    <a asp-action="Create" class="btn btn-success">Create Note</a>
</header>

<table class="table table-striped border">
    <thead>
        <tr>
            <th>@Html.LabelFor(_ => Model[0].Title)</th>
            <th>@Html.LabelFor(_ => Model[0].CreatedUtc)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var note in Model)
        {
            <tr>
                <td>@Html.DisplayFor(_ => note.Title)</td>
                <td>@Html.DisplayFor(_ => note.CreatedUtc)</td>
                <td>
                    <a asp-action="Edit" class="btn btn-primary">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>
